@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

html {
  // height: 100%;
	// width: 100%;
	font-family: 'Roboto', serif, sans-serif;
}

body {
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	background-color: #f5f5f5;
	// margin: 0;
	// min-height: 100%;
	// width: 100%;
	// overflow: hidden;
}

section {
	width: 100%;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	&.main {
		align-self: center;
	}
	&.searchBar {
		display: flex;
		flex-flow: row nowrap;
		div {
			&:first-of-type {
				order: 1;
				flex: 1 1 75%;
			}
			&:nth-of-type(2) {
				order: 2;
				flex: 1 1 25%;

				button {
					background-color: #757575;
					color: #eeeeee;
					border: 0;
					margin: 0;
					padding: 2px 6px ;
					height: 30px;
					max-width: 100%;
				}
			}
		}
	}


	article  {
		width: 100%;
		box-sizing: border-box;
		background-color: #e0e0e0;
		margin-bottom: 2px;
		&.hidden {
			display: none;
		}

		header {

			padding: 4px 2px 2px 4px;
			display: flex;
			justify-content: flex-start;
			margin-bottom: 5px;
			flex-flow: row nowrap;
			div {
				box-sizing: border-box;

				&:first-of-type {
					align-self: center;
					flex: 1 1 20%;

					&.hidden {
						display: none;
					}

					img {
						max-width: 100%;
						height: auto;
					}
				}
				&:nth-of-type(2) {
					font-size: 16px;
					line-height: 20px;
					padding: 5px;
					flex: 1 1 80%;

					span {
						&:nth-of-type(2) {
							font-size: 12px;
							font-style: italic;
						}
						&:nth-of-type(3) {
							font-size: 12px;
							font-style: italic;
						}
					}
				}
			}
			// div:first-of-type {
			// 	align-self: flex-start;
			// 	order: 1;
			// 	flex-basis: 15%;
			// 	img{
			// 		// order: 1;
			// 	}
			// }
			// div:nth-of-type(2) {
			// 	align-self: center;
			// 	order: 2;
			// 	flex-basis: 85%;
			// 	span {
			// 		cursor: pointer;
			// 		// font-size: 15px;
			// 		// line-height: 20px;
			// 	}
			// }
		}


		section {
			width: 80%;
			margin: 0 auto;
			display: flex;
			flex-flow: column wrap;
			// align-items: flex-start;
			background-color: #e0e0e0;
			&.collapsable {
				display: none;
			}

			div {
				box-sizing: border-box;
				margin-bottom: 2px;

				img {
					flex: 1 1 100%;
					order: 1;
					max-width: 100%;
				}

				p {
					flex: 1 1 100%;
					order: 2;
					padding: 5px;
					font-size: 14px;
					line-height: 18px;
				}


				.more {
					text-decoration: none;
					background-color: #757575;
					color: #eeeeee;
					padding: 2px 4px;
					// border-radius: 3px;
				}
			}
			aside {
				font-size: 14px;
				line-height: 18px;
				ul {
					li {
						a {
							// text-decoration: none;
							color:black;
						}
					}
				}
			}
		}
	}
}


input#search {
	width: 100%;
	height: 30px;
	overflow: hidden;

	&:focus {
		border: 0 none;
	}
}

@media screen
  and (min-device-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1) {
		body {
			section {
				width: 60%;
				>section {
					width: 100%;

				}
			}
		}
}
